@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-seashell: #fff3eb;
  --color-fandango: #140010;
  --color-fandango-100: #b80093;
  --color-fandango-200: #a30083;
  --color-fandango-300: #8f0072;
  --color-fandango-400: #7a0062;
  --color-fandango-500: #660052;
  --color-fandango-600: #520041;
  --color-fandango-700: #3d0031;
  --color-fandango-800: #290021;
  --color-fandango-900: #140010;
  --color-royal: #6f4fa2;
  --color-royal-100: #f4f1f8;
  --color-royal-200: #dfd6ea;
  --color-royal-300: #cabcdc;
  --color-royal-400: #b5a1ce;
  --color-royal-500: #a087c0;
  --color-royal-600: #8a6cb2;
  --color-royal-700: #6f4fa2;
  --color-royal-800: #624686;
  --color-royal-900: #4e386b;
  --color-columbia: #c8e9f9;
  --color-columbia-100: #edf8fd;
  --color-columbia-200: #c8e9f9;
  --color-columbia-300: #a3daf5;
  --color-columbia-400: #7ecbf1;
  --color-columbia-500: #5abced;
  --color-columbia-600: #35ade9;
  --color-columbia-700: #189bdc;
  --color-columbia-800: #1481b8;
  --color-columbia-900: #106793;
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat, serif";
  --font-ptmono: "PT Mono", "serif";
  /* --font-london: "London", serif; */
}
