@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-white: #fffcf9;
  --color-black: #222222;
  --color-black-100: #7a7a7a;
  --color-black-200: #707070;
  --color-black-300: #666666;
  --color-black-400: #5c5c5c;
  --color-black-500: #525252;
  --color-black-600: #474747;
  --color-black-700: #3d3d3d;
  --color-black-800: #333333;
  --color-black-900: #222222;
  --color-red: #d92d20;
  --color-red-100: #e44e64;
  --color-red-200: #e23c55;
  --color-red-300: #df2a45;
  --color-red-400: #d5203b;
  --color-red-500: #c31d36;
  --color-red-600: #b11b31;
  --color-red-700: #a6192e;
  --color-red-800: #a0182c;
  --color-red-900: #8e1527;
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat, serif";
  --font-ptmono: "PT Mono", "serif";
  /* --font-london: "London", serif; */
}
